{% extends 'entregas/base.html' %}

{% block title %}Dashboard Gestor{% endblock %}

{% block content_header %}
  <h1 class="m-0">Resumo Operacional</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ total_entregas }}</h3>
        <p>Total de Entregas</p>
      </div>
      <div class="icon"><i class="fas fa-box"></i></div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>{{ entregas_pendentes }}</h3>
        <p>Pendentes / Atrasadas</p>
      </div>
      <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ veiculos_disponiveis }}</h3>
        <p>Veículos Disponíveis</p>
      </div>
      <div class="icon"><i class="fas fa-truck"></i></div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{ total_clientes }}</h3>
        <p>Clientes Cadastrados</p>
      </div>
      <div class="icon"><i class="fas fa-users"></i></div>
    </div>
  </div>
</div>
{% endblock %}